<!-- templates/header.html -->
<header id="header" class="fixed-top">
    <div class="container1 d-flex justify-content-between">
        <div id="hamburger__icon">
            <span id="hb" class="material-icons">menu</span>
        </div>
        <nav id="side__menu">
            <div class="inner">
                <ul class="menu">
                    <li><a class="nav-link scrollto calendaractive active" href="/">처음화면</a></li>
                    <li><a class="nav-link scrollto alarmactive" href="/schedule">캘린더</a></li>
                    <li><a class="nav-link scrollto communityactive" href="/search">경로검색</a></li>
                    <li><a class="nav-link scrollto exportactive" href="/map"> 지도 </a></li>
                    <li><a class="nav-link scrollto exportactive" href="/traffic">교통 밀집 확인</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

