{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block content %}
    <h1>경로 안내</h1>
    <div id="map-container">
        <div class="preferences">
            <div class="transport-options">
                <label><input type="radio" name="transport" value="DRIVING" checked> 자동차 </label>
                <label><input type="radio" name="transport" value="WALKING"> 도보 </label>
                <label><input type="radio" name="transport" value="BICYCLING"> 자전거</label>
                <label><input type="radio" name="transport" value="TRANSIT"> 대중교통</label>
            </div>
        </div>
        <div id="map"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places"></script>
    <script>
        function initMap() {
            const startPoint = { lat: parseFloat("{{ start_lat }}"), lng: parseFloat("{{ start_lng }}") };
            const endPoint = { lat: parseFloat("{{ end_lat }}"), lng: parseFloat("{{ end_lng }}") };

            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: startPoint
            });

            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer({
                map: map,
                polylineOptions: {
                    strokeColor: "red",
                    strokeWeight: 6,
                    strokeOpacity: 0.8
                }
            });

            directionsService.route(
                {
                    origin: startPoint,
                    destination: endPoint,
                    travelMode: google.maps.TravelMode.TRANSIT
                },
                (response, status) => {
                    if (status === 'OK') {
                        directionsRenderer.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                }
            );
        }
    </script>
    <script>
        window.onload = initMap;
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}